body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.center {
    margin: auto;
    width: 95%;
    padding: 10px;
}


.info {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.info td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.info tr:nth-child(even){background-color: #f2f2f2;}

.info tr:hover {background-color: #ddd;}

.info th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(54, 148, 236);
    color: white;
}

.warn-icon {
    background: red;
}

.ok-icon {
    background: #63b86e;
}

.point-span {
    height: 10px;
    width: 10px; 
    border-radius: 50%;
    display: inline-block;
}

#search {
    width: 5em;
    height: 3em;
    font-size: 16px;
}

#search_lucky {
    width: 8em;
    height: 3em;
    font-size: 16px;
}

em {
    font-style: normal;
    color: red;
}
